<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to Meeting Summarization App</h1>
    <!-- <p>Welcome to Meeting Summarization App</p> -->
  </body>
</html>
